header span {
    background-image: url("../images/bg-header-desktop.png");
}
.header-description h1 {
    font-size: 4.6rem;
}
.header-description p {
    font-size: 2rem;
}
/* ------------------------------------------------------ */

.tracking-section {
    padding: 16rem 0 0 0;
}
.tracking-section-description {
    padding-left: 3.2rem;
}
.tracking-section-description h2 {
    font-size: 3.6rem;
}
.tracking-section-description p {
    font-size: 1.8rem;
}
.tracking-section-details {
    flex-direction: row;
    padding-right: 11rem;
    text-align: left;
}
.tracking-section-details--cards {
    max-width: 350px;
    align-self: center;
}
.tracking-section-details .image-computer {
    width: 752px;
    height: 572px;
    background-image: url("../images/image-computer-desktop.png");
    background-repeat: no-repeat;
}

/* ------------------------------------------------------ */
.access-section-description h2 {
    font-size: 3.6rem;
}
.access-section-description p {
    font-size: 1.8rem;
}
.access-section .image-devices {
    width: 880px;
    height: 500px;
    margin: 11.1rem 0 16rem;
    background-image: url("../images/image-devices-desktop.png");
}

/* ------------------------------------------------------ */

.workflow-section-details {
    flex-direction: row;
    justify-content: space-evenly;
}
.workflow-section-description h2 {
    font-size: 3.6rem;
}
.workflow-section-description p {
    font-size: 1.8rem;
}

/* ------------------------------------------------------ */

.logos-section {
    flex-direction: row;
    justify-content: center;
}

/* ------------------------------------------------------ */

.downloads-description h2 {
    font-size: 3.6rem;
}
.downloads-description p {
    font-size: 1.8rem;
}

/* ------------------------------------------------------ */

.footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 3.9rem 16.5rem;
}
.footer img {
    padding: 0;
}
.footer ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    max-width: 35rem;
}
.footer--social-media {
    padding: 0;
}