:root {
    /* primary */
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    
    /* neutral */
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    font-family: 'Bai Jamjuree', sans-serif;
    min-height: 100vh;
}
body::-webkit-scrollbar {
    display: none;
}

/* ------------------------------------------------------ */

header {
    display: flex;
    flex-direction: column;
    min-width: 32rem;
    text-align: center;
}
header span {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 370px;
    background-image: url("../images/bg-header-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
header img {
    align-self: center;
}
.header-description {
    position: absolute;
    top: 32.7rem;
    align-self: center;
    min-width: 32rem;
    margin: 0 3.2rem;
}
.header-description h1 {
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--dark-grayish-blue);
}
.header-description p {
    margin-top: 1.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    letter-spacing: 0.01rem;
    color: var(--grayish-blue);
}
.header--buttons {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin: 16rem 3.2rem 0;
}
.header--buttons button,
.downloads--buttons button {
    padding: 1.3rem 5rem;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 0.05rem;
    line-height: 3rem;
    border: none;
    border-radius: 2.8rem;
    color: #fff;
}
#iOS-button {
    background-color: var(--strong-cyan);
    box-shadow: 0px 10px 20px 0px rgba(137, 229, 199, 0.50), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}
#Mac-button {
    background-color: var(--light-blue);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10), 0px -3px 0px 0px rgba(0, 0, 0, 0.15) inset;
}

/* ------------------------------------------------------ */

main {
    min-width: 32rem;
    height: auto;
}
.tracking-section {
    margin: 16rem 3.2rem 0;
    text-align: center;
}
.tracking-section-description {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.tracking-section-description h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--dark-grayish-blue);
}
.tracking-section-description p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.012rem;
    color: var(--grayish-blue);
}
.tracking-section-details {
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    margin-top: 6.5rem;
}
.tracking-section--card h3 {
    margin-bottom: 1rem;
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: -0.03rem;
    color: var(--dark-grayish-blue);
}
.tracking-section--card p {
    margin-bottom: 4.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    letter-spacing: 0.012rem;
    color: var(--grayish-blue);
}

/* ------------------------------------------------------ */

.access-section {
    margin: 8rem 3.2rem 0;
    text-align: center;
}
.access-section-description {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.access-section-description h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--dark-grayish-blue);
}
.access-section-description p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    letter-spacing: 0.012rem;
    color: var(--grayish-blue);
}
.access-section img {
    margin-top: 4.6rem;
}

/* ------------------------------------------------------ */

.workflow-section {
    margin: 3rem 3.2rem 0;
    text-align: center;
}
.workflow-section-description {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    margin-bottom: 9rem;
}
.workflow-section-description h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--dark-grayish-blue);
}
.workflow-section-description p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.012rem;
    color: var(--grayish-blue);
}
.workflow-section-details {
    display: flex;
    flex-direction: column;
}
.workflow-section--card h3 {
    margin-bottom: 1.8rem;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--dark-grayish-blue);
}
.workflow-section--card p {
    margin-bottom: 5.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.012rem;
    color: var(--grayish-blue);
}
.workflow-section--card .icon-card {
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 4.4rem;
}
.workflow-section--card .paper {
    width: 44px;
    height: 40px;
    background-image: url("../images/icon-blacklist.svg");
}
.workflow-section--card .text {
    width: 36px;
    height: 32px;
    background-image: url("../images/icon-text.svg");
}
.workflow-section--card .eye {
    width: 50px;
    height: 32px;
    background-image: url("../images/icon-preview.svg");
}

/* ------------------------------------------------------ */

.logos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 57px;
    margin: 13.1rem 0 17rem;
}
.logos-section img {
    width: fit-content;
}

/* ------------------------------------------------------ */

.downloads-section {
    margin: 0 3.2rem;
}
.downloads-description {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: center;
}
.downloads-description h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--dark-grayish-blue);
}
.downloads-description p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.012rem;
    color: var(--grayish-blue);
}
.downloads--buttons {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4.6rem;
}

/* ------------------------------------------------------ */

