.tracking-section-details {
    display: grid;
    grid-template-areas: 
    "image cards"
    ;
}
.image-computer {
    grid-area: image;
}
.tracking-section--card {
    grid-area: cards;
}
/* ------------------------------------------------------ */